temp
out/
toolchain/
backup/
bkp/
*.elf
*.bin
*.d
*.o
*.ko
*.obj
*.dll
*.so
*.so.*
*.dylib
*.lib
*.la
*.lo
*.a
*.ilk
*.map
*.dis
*.new
*.bkp
*.backup
*.b
*.dev
*.old
*.temp
*.tmp
*.swp
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.mod*
*.cmd
