name: GitHub CI

on:
  push:
    branches: [ stable, development, dev_cc_kernel ]

  pull_request:
    branches: [ stable, development, dev_cc_kernel ]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: read
      security-events: write
      statuses: write

    strategy:
      fail-fast: true
      matrix:
        language: ["c", "cpp"]

    steps:
      - uses: actions/checkout@v2

      - name: Configure Git
        env:
          TOKEN: ${{ secrets.CI_PAT }}
        run: git config --global url."https://${TOKEN}:x-oauth-basic@github.com/".insteadOf "https://github.com/"

      - name: Fetch Dependencies
        env:
          AVRTC: https://github.com/VisorFolks/avr-toolchain.git
          RISCVTC: https://github.com/VisorFolks/risc-v-toolchain.git
        run: |
          sudo apt install cppcheck -y
          make get_avr_tc AVR_TC_REPO=${AVRTC}
          make get_riscv_tc RISC_V_TC_REPO=${RISCVTC}

      - name: Init CodeQL
        uses: github/codeql-action/init@v1
        with:
          languages: ${{ matrix.language }}
          debug: true

      - name: Linting
        run: |
          make demo_avr check
          make demo_avr_cpp check
          make demo_riscv check

      - name: Build
        run: |
          make demo_avr
          make demo_avr_cpp
          make demo_riscv

      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@v1

      - name: Clean Up
        run: |
          make clean
          rm -rf toolchain
